# Introduction to Pandas

In this tutorial you will be introduced to using the Pandas Data Frame to read and manipulate data. By the end of this tutorial you should be able to:

- Read in .csv data.
- Select columns.
- Locating elements based on a boolean condition.


## Pandas Documentation

Just like any other popular python library, pandas is widely used and well documented. This means there will be plenty of solutions to common bugs on Stack Overflow. If at any point you are unsure about syntax, google what you'd like to do and you're likely to find a solution. 

## Reading Data from .csv

Pandas makes reading data from .csv (comma separated values) extremely easy. If you haven't seen a .csv file before don't worry, it is simply a set of values separated by a comma. Open the bikes.csv file in the data-v1 folder from desktop and see what it looks like. 

Let's now open the bikes.csv file in pandas.

In [16]:
# Importing the pandas library
import pandas as pd

# Read from csv
bike_df = pd.read_csv('../data-v1/bikes.csv')

bike_df

,Date,Berri 1,Brébeuf (données non disponibles),Côte-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel1,St-Urbain (données non disponibles)
0,2012-01-01,35,NaN,0,38,51,26,10,16,NaN
1,2012-01-02,83,NaN,1,68,153,53,6,43,NaN
2,2012-01-03,135,NaN,2,104,248,89,3,58,NaN
3,2012-01-04,144,NaN,1,116,318,111,8,61,NaN
4,2012-01-05,197,NaN,2,124,330,97,13,95,NaN
5,2012-01-06,146,NaN,0,98,244,86,4,75,NaN
6,2012-01-07,98,NaN,2,80,108,53,6,54,NaN
7,2012-01-08,95,NaN,1,62,98,64,11,63,NaN
8,2012-01-09,244,NaN,2,165,432,198,12,173,NaN
9,2012-01-10,397,NaN,3,238,563,275,18,241,NaN
10,2012-01-11,273,NaN,0,182,443,258,12,194,NaN
11,2012-01-12,157,NaN,1,134,261,137,9,63,NaN
12,2012-01-13,75,NaN,0,41,105,64,2,0,NaN
13,2012-01-14,32,NaN,0,54,56,19,0,1,NaN
14,2012-01-15,54,NaN,0,33,60,18,0,0,NaN
15,2012-01-16,168,NaN,2,136,312,137,1,0,NaN
16,2012-01-17,155,NaN,0,86,256,74,0,0,NaN
17,2012-01-18,139,NaN,0,66,188,68,3,0,NaN
18,2012-01-19,191,NaN,1,104,248,79,3,0,NaN
19,2012-01-20,161,NaN,4,96,217,67,1,1,NaN
20,2012-01-21,53,NaN,0,47,70,32,1,0,NaN
21,2012-01-22,71,NaN,0,41,73,35,5,0,NaN
22,2012-01-23,210,NaN,6,114,357,91,6,0,NaN
23,2012-01-24,299,NaN,1,189,444,174,4,0,NaN
24,2012-01-25,334,NaN,1,217,453,180,4,0,NaN
25,2012-01-26,306,NaN,0,215,495,191,0,1,NaN
26,2012-01-27,91,NaN,5,79,204,65,0,0,NaN
27,2012-01-28,80,NaN,1,61,123,33,9,1,NaN
28,2012-01-29,87,NaN,1,65,132,40,7,0,NaN
29,2012-01-30,219,NaN,0,146,371,152,2,0,NaN
...,...,...,...,...,...,...,...,...,...,...
280,2012-10-07,1580,NaN,660,922,1629,860,695,2052,NaN
281,2012-10-08,1854,NaN,880,987,1818,1040,1115,2502,NaN
282,2012-10-09,4787,NaN,2210,3026,5138,3418,927,4078,NaN
283,2012-10-10,3115,NaN,1537,2081,3681,2608,560,2703,NaN
284,2012-10-11,3746,NaN,1857,2569,4694,3034,558,3457,NaN
285,2012-10-12,3169,NaN,1460,2261,4045,2564,448,3224,NaN
286,2012-10-13,1783,NaN,802,1205,2113,1183,681,2309,NaN
287,2012-10-14,587,NaN,287,443,852,503,65,952,NaN
288,2012-10-15,3292,NaN,1678,2165,4197,2754,560,3183,NaN
289,2012-10-16,3739,NaN,1858,2684,4681,2997,554,3593,NaN
290,2012-10-17,4098,NaN,1964,2645,4836,3063,728,3834,NaN
291,2012-10-18,4671,NaN,2292,3129,5542,3477,1108,4245,NaN
292,2012-10-19,1313,NaN,597,885,1668,1209,111,1486,NaN
293,2012-10-20,2011,NaN,748,1323,2266,1213,797,2243,NaN
294,2012-10-21,1277,NaN,609,869,1777,898,242,1648,NaN
295,2012-10-22,3650,NaN,1819,2495,4800,3023,757,3721,NaN
296,2012-10-23,4177,NaN,1997,2795,5216,3233,795,3554,NaN
297,2012-10-24,3744,NaN,1868,2625,4900,3035,649,3622,NaN
298,2012-10-25,3735,NaN,1815,2528,5010,3017,631,3767,NaN
299,2012-10-26,4290,NaN,1987,2754,5246,3000,1456,4578,NaN
300,2012-10-27,1857,NaN,792,1244,2461,1193,618,2471,NaN
301,2012-10-28,1310,NaN,697,910,1776,955,387,1876,NaN
302,2012-10-29,2919,NaN,1458,2071,3768,2440,411,2795,NaN
303,2012-10-30,2887,NaN,1251,2007,3516,2255,338,2790,NaN
304,2012-10-31,2634,NaN,1294,1835,3453,2220,245,2570,NaN
305,2012-11-01,2405,NaN,1208,1701,3082,2076,165,2461,NaN
306,2012-11-02,1582,NaN,737,1109,2277,1392,97,1888,NaN
307,2012-11-03,844,NaN,380,612,1137,713,105,1302,NaN
308,2012-11-04,966,NaN,446,710,1277,692,197,1374,NaN
309,2012-11-05,2247,NaN,1170,1705,3221,2143,179,2430,NaN

## Getting list of Columns

A list of columns can be retrieved from the data frame using the code below.

In [35]:
bike_df.columns.values

array(['Berri 1', 'Brébeuf (données non disponibles)',
       'Côte-Sainte-Catherine', 'Maisonneuve 1', 'Maisonneuve 2',
       'du Parc', 'Pierre-Dupuy', 'Rachel1',
       'St-Urbain (données non disponibles)'], dtype=object)

## Selecting a Columns

The above data is organised in columns with each column showing the number of bikes at each location. If we wanted to retrieve a particular column we would use the syntax below:

In [17]:
bike_df['Côte-Sainte-Catherine']

0         0
1         1
2         2
3         1
4         2
5         0
6         2
7         1
8         2
9         3
10        0
11        1
12        0
13        0
14        0
15        2
16        0
17        0
18        1
19        4
20        0
21        0
22        6
23        1
24        1
25        0
26        5
27        1
28        1
29        0
       ...
280     660
281     880
282    2210
283    1537
284    1857
285    1460
286     802
287     287
288    1678
289    1858
290    1964
291    2292
292     597
293     748
294     609
295    1819
296    1997
297    1868
298    1815
299    1987
300     792
301     697
302    1458
303    1251
304    1294
305    1208
306     737
307     380
308     446
309    1170
Name: Côte-Sainte-Catherine, Length: 310, dtype: int64

### Setting index

The above data is *indexed* by meaningless integers. It would be more convenient to organise it by date. To do this we can set the index in pandas to a particular column using the set_index function.

In [22]:
# We do not usually have to reload data. Done here for demonstration. 
bike_df = pd.read_csv('../data-v1/bikes.csv')

# Setting index
bike_df = bike_df.set_index('Date')

#Selecting column
bike_df['Côte-Sainte-Catherine']

Date
2012-01-01       0
2012-01-02       1
2012-01-03       2
2012-01-04       1
2012-01-05       2
2012-01-06       0
2012-01-07       2
2012-01-08       1
2012-01-09       2
2012-01-10       3
2012-01-11       0
2012-01-12       1
2012-01-13       0
2012-01-14       0
2012-01-15       0
2012-01-16       2
2012-01-17       0
2012-01-18       0
2012-01-19       1
2012-01-20       4
2012-01-21       0
2012-01-22       0
2012-01-23       6
2012-01-24       1
2012-01-25       1
2012-01-26       0
2012-01-27       5
2012-01-28       1
2012-01-29       1
2012-01-30       0
              ...
2012-10-07     660
2012-10-08     880
2012-10-09    2210
2012-10-10    1537
2012-10-11    1857
2012-10-12    1460
2012-10-13     802
2012-10-14     287
2012-10-15    1678
2012-10-16    1858
2012-10-17    1964
2012-10-18    2292
2012-10-19     597
2012-10-20     748
2012-10-21     609
2012-10-22    1819
2012-10-23    1997
2012-10-24    1868
2012-10-25    1815
2012-10-26    1987
2012-10-27     792
2012-10-28     697
2012-10-29    1458
2012-10-30    1251
2012-10-31    1294
2012-11-01    1208
2012-11-02     737
2012-11-03     380
2012-11-04     446
2012-11-05    1170
Name: Côte-Sainte-Catherine, Length: 310, dtype: int64

## Getting Index Values

One can retrieve a list the index values for the data frame using the code below. The list can be stored in an array to be used later.

In [26]:
# Getting index values
indices = bike_df.index.values

# Looping through the list of values and printing each element
for index in indices:
    print(index)

2012-01-01
2012-01-02
2012-01-03
2012-01-04
2012-01-05
2012-01-06
2012-01-07
2012-01-08
2012-01-09
2012-01-10
2012-01-11
2012-01-12
2012-01-13
2012-01-14
2012-01-15
2012-01-16
2012-01-17
2012-01-18
2012-01-19
2012-01-20
2012-01-21
2012-01-22
2012-01-23
2012-01-24
2012-01-25
2012-01-26
2012-01-27
2012-01-28
2012-01-29
2012-01-30
2012-01-31
2012-02-01
2012-02-02
2012-02-03
2012-02-04
2012-02-05
2012-02-06
2012-02-07
2012-02-08
2012-02-09
2012-02-10
2012-02-11
2012-02-12
2012-02-13
2012-02-14
2012-02-15
2012-02-16
2012-02-17
2012-02-18
2012-02-19
2012-02-20
2012-02-21
2012-02-22
2012-02-23
2012-02-24
2012-02-25
2012-02-26
2012-02-27
2012-02-28
2012-02-29
2012-03-01
2012-03-02
2012-03-03
2012-03-04
2012-03-05
2012-03-06
2012-03-07
2012-03-08
2012-03-09
2012-03-10
2012-03-11
2012-03-12
2012-03-13
2012-03-14
2012-03-15
2012-03-16
2012-03-17
2012-03-18
2012-03-19
2012-03-20
2012-03-21
2012-03-22
2012-03-23
2012-03-24
2012-03-25
2012-03-26
2012-03-27
2012-03-28
2012-03-29
2012-03-30
2012-03-31
2012-04-01
2012-04-02
2012-04-03
2012-04-04
2012-04-05
2012-04-06
2012-04-07
2012-04-08
2012-04-09
2012-04-10
2012-04-11
2012-04-12
2012-04-13
2012-04-14
2012-04-15
2012-04-16
2012-04-17
2012-04-18
2012-04-19
2012-04-20
2012-04-21
2012-04-22
2012-04-23
2012-04-24
2012-04-25
2012-04-26
2012-04-27
2012-04-28
2012-04-29
2012-04-30
2012-05-01
2012-05-02
2012-05-03
2012-05-04
2012-05-05
2012-05-06
2012-05-07
2012-05-08
2012-05-09
2012-05-10
2012-05-11
2012-05-12
2012-05-13
2012-05-14
2012-05-15
2012-05-16
2012-05-17
2012-05-18
2012-05-19
2012-05-20
2012-05-21
2012-05-22
2012-05-23
2012-05-24
2012-05-25
2012-05-26
2012-05-27
2012-05-28
2012-05-29
2012-05-30
2012-05-31
2012-06-01
2012-06-02
2012-06-03
2012-06-04
2012-06-05
2012-06-06
2012-06-07
2012-06-08
2012-06-09
2012-06-10
2012-06-11
2012-06-12
2012-06-13
2012-06-14
2012-06-15
2012-06-16
2012-06-17
2012-06-18
2012-06-19
2012-06-20
2012-06-21
2012-06-22
2012-06-23
2012-06-24
2012-06-25
2012-06-26
2012-06-27
2012-06-28
2012-06-29
2012-06-30
2012-07-01
2012-07-02
2012-07-03
2012-07-04
2012-07-05
2012-07-06
2012-07-07
2012-07-08
2012-07-09
2012-07-10
2012-07-11
2012-07-12
2012-07-13
2012-07-14
2012-07-15
2012-07-16
2012-07-17
2012-07-18
2012-07-19
2012-07-20
2012-07-21
2012-07-22
2012-07-23
2012-07-24
2012-07-25
2012-07-26
2012-07-27
2012-07-28
2012-07-29
2012-07-30
2012-07-31
2012-08-01
2012-08-02
2012-08-03
2012-08-04
2012-08-05
2012-08-06
2012-08-07
2012-08-08
2012-08-09
2012-08-10
2012-08-11
2012-08-12
2012-08-13
2012-08-14
2012-08-15
2012-08-16
2012-08-17
2012-08-18
2012-08-19
2012-08-20
2012-08-21
2012-08-22
2012-08-23
2012-08-24
2012-08-25
2012-08-26
2012-08-27
2012-08-28
2012-08-29
2012-08-30
2012-08-31
2012-09-01
2012-09-02
2012-09-03
2012-09-04
2012-09-05
2012-09-06
2012-09-07
2012-09-08
2012-09-09
2012-09-10
2012-09-11
2012-09-12
2012-09-13
2012-09-14
2012-09-15
2012-09-16
2012-09-17
2012-09-18
2012-09-19
2012-09-20
2012-09-21
2012-09-22
2012-09-23
2012-09-24
2012-09-25
2012-09-26
2012-09-27
2012-09-28
2012-09-29
2012-09-30
2012-10-01
2012-10-02
2012-10-03
2012-10-04
2012-10-05
2012-10-06
2012-10-07
2012-10-08
2012-10-09
2012-10-10
2012-10-11
2012-10-12
2012-10-13
2012-10-14
2012-10-15
2012-10-16
2012-10-17
2012-10-18
2012-10-19
2012-10-20
2012-10-21
2012-10-22
2012-10-23
2012-10-24
2012-10-25
2012-10-26
2012-10-27
2012-10-28
2012-10-29
2012-10-30
2012-10-31
2012-11-01
2012-11-02
2012-11-03
2012-11-04
2012-11-05

## Locating from Index

To locate an element from the data frame using the index of the element we can use the .loc function. 

```
    df.loc['index']
    
```

An example is shown below where we have first randomly selected an index from the list of indices retrieved earlier and then used this to retrieve the corresponding row.

In [30]:
import random

random_index = random.choice(indices)
print("The randomly selected index is", random_index)
bike_df.loc[random_index]

The randomly selected index is 2012-05-26

Berri 1                                4974.0
Brébeuf (données non disponibles)         NaN
Côte-Sainte-Catherine                  1622.0
Maisonneuve 1                          2936.0
Maisonneuve 2                          4991.0
du Parc                                2373.0
Pierre-Dupuy                           3455.0
Rachel1                                5443.0
St-Urbain (données non disponibles)       NaN
Name: 2012-05-26, dtype: float64

** Exercise: using the data frame indexed by date print every 20th element. Hint: the list _indices_ is indexed as 0,1,2,3... You could loop through this. **

## Locating using boolean operators

We can also locate elements based on boolean operations. This means, we can select elements if they meet a certain condition. This is again, best illustrated with an example.

In the code below we will use our data frame to create a subset of the data that only contains elements where there were more than  200 bikes in 'du parc'.

In [34]:
print("The original data frame has shape", bike_df.shape)
sub_df = bike_df.loc[bike_df['du Parc']>200]
print("The reduced data frame has shape", sub_df.shape)

The original data frame has shape (310, 9)
The reduced data frame has shape (258, 9)

By cutting out all elements in the data frame that have less than 200 bikes in 'du Parc' we have 258 values in the data frame instead of the original 310.